@{
    ViewBag.Title = "Home Page";
}
<div id="indexPage" style="width: 100%; display: inline-block;">
    <div style="float: left; width: 50%; display: inline-block;">
        <div>
            <h2>
                Prothom Alo Sample</h2>
            <p>
                <a href="/Demo/prothomalo" id="" class="button">Prothom Alo</a>
            </p>
        </div>
        <div>
            <h2>
                Ittefaq Sample</h2>
            <p>
                <a href="/Demo/ittefaq" id="" class="button">Ittefaq</a> @*http://www.ittefaq.com.bd/rss.xml*@
            </p>
        </div>
        <div>
            <h2>
                Kaler Kantho</h2>
            <p>
                <a href="/Demo/kalerkantho" id="" class="button">Kaler Kantho</a> @*http://www.kalerkantho.com/index.php*@
            </p>
        </div>
        <div>
            <h2>
                Jugantor</h2>
            <p>
                <a href="/Demo/jugantor" id="" class="button">Jugantor</a> @*http://www.jugantor.com/*@
            </p>
        </div>
        <div>
            <h2>
                Amardesh</h2>
            <p>
                <a href="/Demo/amardeshonline" id="" class="button">Amardesh</a> @*http://www.amardeshonline.com/pages/home/2014/05/04*@
            </p>
        </div>
        <div>
            <h2>
                Sample</h2>
            <p>
                <a href="#" id="" class="button">Click</a>
            </p>
        </div>
    </div>
    <div style="float: right; width: 50%; display: inline-block;">
        <div>
            <h2>
                The Daily Star</h2>
            <p>
                <a href="/Demo/thedailystar" id="" class="button">The Daily Star</a> @*http://www.thedailystar.net/*@
            </p>
        </div>
        <div>
            <h2>
                New Age BD</h2>
            <p>
                <a href="/Demo/newagebd" id="" class="button">New Age BD</a> @*http://newagebd.net/*@
            </p>
        </div>
        <div>
            <h2>
                The Financial Express</h2>
            <p>
                <a href="/Demo/thefinancialexpress" id="" class="button">The Financial Express</a>
                @*http://www.thefinancialexpress-bd.com/*@
            </p>
        </div>
        <div>
            <h2>
                The Independent BD</h2>
            <p>
                <a href="/Demo/theindependentbd" id="" class="button">The Independent BD</a> @*http://www.theindependentbd.com/*@
            </p>
        </div>
        <div>
            <h2>
                Sample</h2>
            <p>
                <a href="#" id="" class="button">Click</a>
            </p>
        </div>
    </div>
</div>
